body {
  font-family: Calisto MT, Bookman Old Style, Bookman, Goudy Old Style, Garamond,
    Hoefler Text, Bitstream Charter, Georgia, serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}

/*
#nav-jumbo {
  background-color: rgb(197, 253, 230);
  padding-top: 20%;
  padding-bottom: 20%;
}
*/

#nav-jumbo {
  padding-top: 20px;
  margin-top: 10px;
  padding-bottom: 0px;
  background-color: rgb(61, 226, 185);
}

#about-jumbo {
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  background-color: rgb(61, 226, 185);
}

#petname {
  margin-bottom: 20px;
  margin-top: 0px;
  padding-top: 0px;
}

#uploadPic {
  margin-top: 10px;
  margin-bottom: 40px;
}

#catalog-figure {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#catalog-row {
  align-content: center;
  margin-left: 80px;
}

#catalog-img {
  border-radius: 30%;
}

#catalog-cap {
  text-align: center;
}

#catalog-btn {
  background-color: rgb(144, 255, 181);
}

.carousel {
  width: 221px;
  height: 228px;
  align-items: center;
}

#carousel-jumbo {
  margin-left: 500px;
  margin-right: 550px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  background-color: rgb(61, 226, 185);
}

#category {
  margin-bottom: 10px;
}

label {
  margin-left: 10px;
}

#vip-daily {
  text-align: center;
  background-color: rgb(61, 226, 185);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#catalog-lab {
  text-align: center;
}

#sold-lab {
  color: brown;
}
